html {
  font-size: 10px;
  font-family: 'Verdana', sans-serif;
}

h1 {
    font-size: 60px;
    text-align: center;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: #7a0029;
}

body {
    color: #007a51;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #007a51;
}
